$primary-dark: #173042;
$primary-light: #236477;
$near-white: #cfdfda;
$near-white: lighten( #018E89,80%);
$contrast-light: #7cad3e;

$contrast-dark: #055C59;
$contrast-light: #EB6902;
$near-white: lighten( $contrast-light, 60%);
